@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome to the Chat Application</h2>
<div class="article-info">Posted on <time datetime="2013-05-14">5th July</time> by <a target="_blank" href="http://www.trucoding.com" rel="author">Tyler Truitt</a></div>

<p>
    This is a chat application that I put together with MVC5, and SignalR.  SignalR is a new developer's API provided for ASP.NET web applciations, used to add "real time" web
    functionality to ASP.NET applications. "Real Time" web functionality is the ability to have server code to push contents to connected clients.
</p>
